/* HEADER */
*{
  font-family: 'Noto Sans', sans-serif;
}

header{
  size: 100%;
}

body{
  margin: 0;
  background-color: #dbdbd3;
  width: 100vw;
}

.container{
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #c2bfb8;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  width: 100%;
}

.link-right{
  margin-left: auto;
  margin-right: 1rem;
}

#logo{
  font-weight: 500;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  display: inline;
  padding: 1rem;
  margin-left: 2rem;
  margin-left: 1rem;
}

nav{
  flex: 1;
  padding-right: 4rem;
}

nav ul li{
list-style: none;
display: inline-block;
margin-left: 5rem;
margin-left: 4rem;
padding-left: 0%;
}

ul{
  display:flex;
}

a{
  color: black;
  text-decoration: none;
}

.link:hover,.link-right:hover{
  color: gray;
  animation: waveAnimation 0.5s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waveAnimation{
  0%,40%,100% {
    transform: translateY(0);
  }
  20%{
    transform: translateY(-3px);
  }
  60%{
    transform: translateX(3px);
  }
  80%{
    transform: translateX(-3px);
  }
}

/* MAIN */
.main-img{
  width: 30%;
}

main{
  margin: 2rem 1rem 2rem 1rem;
}

#contact-me{
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#this-is-me{
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#click-on-picture{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Mail{
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* line 86-110 are inspired by W3schools */
input[type=text], select, textarea {
    width: 100%; 
    padding: 1rem;  
    border: 0.1rem solid #ccc; 
    border-radius: 0.5rem; 
    box-sizing: border-box; 
    margin-top: 1rem; 
    margin-bottom: 2rem; 
    resize: vertical
  }
  
  input[type=submit]{
    background-color: #003740;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .container{
    border-radius: 0.8rem;
    background-color: #f2f2f2;
    padding: 2rem;
  }

  /* the following lines are for the works in the portfolio */
.item-container{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
}

.item-image{
  width: 70%;
}

/* the following lines are for the responsivness */
@media screen and (max-width: 820px) {
  .item-container{
  grid-gap: 1rem;
  text-align: center;
  }
}

.item-image{
  width: 80%;
}

/*the following lines are for the Firewatch page */
#firewatch-image{
  width: 100%;
  height: 100%;
  text-align: center;
}

.firewatch-page-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 5rem;
  grid-gap: 1rem;
}

#firewatch-info{
  font-size: 2rem;
  margin-right: 5rem;
  text-align:left;
}

@media screen and (max-width: 1180px) {

  .item-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  .link-right{
    margin-left: auto;
    margin-right: 2rem;
  }

  #logo{
    font-weight: 400; 
    font-size: 1.2rem; 
    border: 2px solid black; 
    border-radius: 5px; 
    display: inline; 
    padding: none; 
    margin: 0 0 0 0; 
  }

  nav{
    font-size: larger; 
    padding-right: 20px; 
  }
  
  nav ul li{
  display: inline; 
  margin-left: 2rem; 
  padding: 0 0 0 0; 
  }

  ul{
    display:flex;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .item-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6* 1fr);
    grid-gap: 3rem;
  }

  #logo{
    font-weight: 400;
    grid-gap: 1rem;
  }
  .container{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c2bfb8;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    width: 100%;
  }
  
  .link-right{
    margin-left: 4rem;
  }
  
  #logo{
    font-weight: 500;

    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    display: inline;

    padding: none;
    margin: 0 0 0 0;
  }

  nav{
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  nav ul li{
  display: inline;
  padding: 0 0 0 0;
    padding: 1rem;
    margin-left: 1rem;
  }
  
  nav{
    flex: 1;
    padding-right: 4rem;
  }
  
  nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 4rem;
  padding-left: 0%;}

  #firewatch-info{
    font-size: 1rem;
    margin-right: 1rem;
  }

  #click-on-picture{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .main-img{
    width: 60%;
  }
}

@media screen and (max-width: 600px){
  .item-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .container{
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2bfb8;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    width: 100%;
    padding: 0%;
  }
  
  .link-right{
    margin-left: 2rem;
  }
  
  #logo{
    font-weight: 500;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    display: inline;
    padding: 0.5rem;
    margin: 1rem;
  }
  
  nav{
    display: flex;
    padding: 0%;
  }
  
  nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0%;
  
  }

  ul{
    display:flex;
    padding: 0%;
  }

  #firewatch-info{
    font-size: 1rem;
    margin-right: 1rem;
  }

  #click-on-picture{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .main-img{
    width: 80%;
  }
}

/* FOOTER */
footer{
  margin-top: 1rem;
  border-top: 2px solid black;
  margin-top: 1rem;
  border-top: 2px solid black;
}

#copyright{
  margin-left: 4rem;
}