/* HEADER */

*{
  font-family: 'Noto Sans', sans-serif;
}

body{
  margin: 0;
  background-color: #dbdbd3;
  width: 100vw;
}

.container{
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #c2bfb8;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  width: 100vw;
}

.link-right{
  margin-left: auto;}

#logo{
  font-weight: 500;
  font-size: 1.2rem;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  margin-left: 20px;
}

nav{
  flex: 1;
  padding-right: 40px;
}

nav ul li{
list-style: none;
display: inline-block;
margin-left: 60px;
padding-left: 0%;
}

ul{
  display:flex;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: gray;
}

/* MAIN */
.main-img{
  width: 20%;
}

main{
  margin: 50px 20px 50px 20px;
}

#contact-me{
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#this-is-me{
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#click-on-picture{
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Mail{
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* line 86-110 are inspired by W3schools */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }
  
  input[type=submit]{
    background-color: #003740;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* the following lines are for the works in the portfolio */
.item-container{
  margin: 100px 200px 100px 200px;
  display: grid;
  height: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-gap: 100px;
}

.item-1{
  height: 500px;
  width: 350px;
}

.item-2{
  height: 500px;
  width: 350px;
}

.item-3{
  height: 500px;
  width: 350px;
}

.item-4{
  height: 500px;
  width: 350px;
}

.item-5{
  height: 500px;
  width: 350px;
}

.item-6{
  height: 500px;
  width: 350px;
}

/* Following lines are about a popup window */
.btnp{
  padding: 10px 50px;
  background: gray;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

.btnp hover{
  opacity: 50%;
}

.popup1{
  background-color: #f2f2f2;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 0px 40px 0px;
  color: #333;
  visibility: hidden;
}

.open-popup1{
  visibility: visible;
}

.btn{
  padding: 10px 50px;
  background: gray;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

.popup1 h2{
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 30px 0px 10px;
}

/* FOOTER */

footer{
    margin-top: 1rem ;
    border-top: 2px solid black;
}

#copyright{
    margin-left: 20px;
}